
.css-1fsl8d7-MuiTypography-root {
  display: none !important;
}

.css-16nxa1f-MuiTypography-root-MuiDatePickerToolbar-title {
    display: none !important;
}

.css-gqp4xl-MuiPickersLayout-root .MuiPickersLayout-actionBar {
    display: none !important;
}